# fly.toml app configuration file generated for 2025-hk100q on 2025-11-08T18:03:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '2025-hk100q'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8000"
  FLASK_DEBUG = "false"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
